<ion-header>
  <ion-toolbar>
    <div class="horizontal">
      <ion-title>Educational Services</ion-title>
      <ion-button (click)="login()">
        {{ isLogged() ? "Logout" : "Login" }}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-service-selector></app-service-selector>

  <ul *ngIf="services$ | async as services">
    <li *ngFor="let service of services | sortByRatingPipe : isAscending">
      <ion-card *ngIf="service">
        <ion-card-header>
          <ion-card-title>{{ service.getTitle() }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ul>
            <li>{{ service.getDescription() }}</li>
            <li>Ціна: {{ service.getPrice() }}</li>
            <li>Тривалість: {{ service.getDuration() | duration }}</li>

            <li *ngIf="service.hasOwnProperty('expert')">
              <p>Експерт: {{ service.getDetails().expert }}</p>
            </li>

            <li *ngIf="service.hasOwnProperty('lector')">
              <p>Лектор: {{ service.getDetails().lector }}</p>
            </li>

            <li *ngIf="service.hasOwnProperty('level')">
              <p>Рівень: {{ service.getDetails().level }}</p>
            </li>

            <li *ngIf="service.hasOwnProperty('rating')">
              <p>Рейтинг: {{ service.getDetails().rating }}</p>
            </li>
          </ul>
        </ion-card-content>
      </ion-card>
    </li>
  </ul>
</ion-content>
