<ion-card>
  <ion-card-header>
    <ion-card-title>Форма для редагування даних</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item>
          <ion-input
            label="Title"
            placeholder="..."
            type="text"
            formControlName="title"
          ></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="isInvalid('title')">
          Назва повинна містити більше ніж 3 символи
        </ion-text>

        <ion-item>
          <ion-input
            label="Description"
            placeholder="..."
            type="text"
            formControlName="description"
          ></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="isInvalid('description')">
          Опис повинен містити більше ніж 5 символів
        </ion-text>

        <ion-item>
          <ion-input
            label="Price"
            placeholder="..."
            type="number"
            formControlName="price"
          ></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="isInvalid('price')">
          Ціна курсу має бути більше нуля
        </ion-text>

        <ion-item>
          <ion-input
            label="Duration"
            placeholder="..."
            type="number"
            formControlName="duration"
          ></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="isInvalid('duration')">
          Протяжність курсу має бути більше нуля
        </ion-text>

        <ion-item>
          <ion-label>Course type:</ion-label>
          <ion-select formControlName="type" placeholder="Select a Type">
            <ng-container *ngFor="let serviceType of userData?.serviceTypes">
              <ion-select-option [value]="serviceType">{{
                serviceType.getName()
              }}</ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>

        <div formArrayName="additionalFields">
          <div
            *ngFor="let field of additionalFields.controls; let i = index"
            [formGroupName]="i"
          >
            <ion-item *ngIf="selectedType?.getName() === 'Consultation'">
              <ion-input
                label="Expert"
                placeholder="..."
                type="text"
                formControlName="expert"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="selectedType?.getName() === 'Seminar'">
              <ion-input
                label="Lector"
                placeholder="..."
                type="text"
                formControlName="lector"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="selectedType?.getName() === 'Training'">
              <ion-input
                label="Level"
                placeholder="..."
                type="text"
                formControlName="level"
              ></ion-input>
            </ion-item>
          </div>
        </div>
      </ion-list>

      <ion-button expand="full" type="submit" [disabled]="editForm.invalid"
        >Зберегти</ion-button
      >
    </form>
  </ion-card-content>
</ion-card>
