<ion-header>
  <ion-toolbar>
    <ion-title>Educational Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-form (serviceCreated)="onServiceCreated($event)"></app-form>
  <app-edit-form
    *ngIf="selectedService"
    [serviceToEdit]="selectedService"
    (serviceUpdated)="onServiceUpdated($event)"
  >
  </app-edit-form>

  <ul *ngIf="services$ | async as services">
    <li *ngFor="let service of services">
      <ion-card *ngIf="service">
        <ion-card-header>
          <ion-card-title>{{ service.getTitle() }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ul (click)="onSelectService(service)">
            <li>{{ service.getDescription() }}</li>
            <li>Ціна: {{ service.getPrice() }}</li>
            <li>Тривалість: {{ service.getDuration() }}</li>

            <li *ngIf="service.hasOwnProperty('expert')">
              <p>Експерт: {{ service.getDetails().expert }}</p>
            </li>

            <li *ngIf="service.hasOwnProperty('lector')">
              <p>Лектор: {{ service.getDetails().lector }}</p>
            </li>

            <li *ngIf="service.hasOwnProperty('level')">
              <p>Рівень: {{ service.getDetails().level }}</p>
            </li>
          </ul>
          <ion-button (click)="onDeleteService(service)">Видалити</ion-button>
        </ion-card-content>
      </ion-card>
    </li>
  </ul>
</ion-content>
